body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Gill Sans Extrabold", sans-serif;
  /*background-image: url('https://raw.githubusercontent.com/patpires/jopi3m/main/bg1.jpg');*/
  /*background-size: cover;*/
}

.game-container {
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  padding: 20px;
  border-radius: 10px;
}

.choices button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;  /*Botões vermelhos */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  touch-action: manipulation;
}

.choices button:hover {
  background-color: darkred;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

#animatedTitle {
  cursor: pointer;
  display: inline-block;
}

#animatedTitle span {
  display: inline-block;
  animation: wave 1.5s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.result, .score {
  margin-top: 20px;
  font-size: 24px;
  font: xx-large;
  color: black;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  display: none; /* Escondido por padrão */
}